/* ////////////HOMEPAGE///////////// */
#spider{
    position: absolute;
    z-index: -1;
    margin-left: -17.5%;
    margin-top: -0.5%;
    width: 39%;
    animation: move 8s infinite;
    rotate: -90deg;
}

@keyframes move{
    0%{
        transform:translateX(0px);
    }
    50%{
        transform: translateX(-9vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

#CreateNow:hover{
    cursor: pointer;
    color:blueviolet;
    transition:0.7s;
}

#Gallery:hover{
    cursor: pointer;
    color:blueviolet;
    transition:0.7s;
}

/* /////////////////MAKEUP_CANVAS//////////////////*/
.nav_draw{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close{
    font-family: auto;
    font-weight: 100;
    rotate: 45deg;
    font-size: 39px;
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    position: absolute;
    margin-top: -5%;
    margin-right: -96%;
}
#close:hover{
    cursor: pointer;
    color:blueviolet;
    transition:0.7s;
}

.drawthemakeup{
    position: absolute;
    font-size: 36px;
    text-align: center;
    font-weight: 200;
    color:#c0c0c0
}

#refresh{
    position: absolute;
    margin-top: 7%;
    font-weight: 200;
    font-size: 15px;
    color: #a6a6a6;
}

#defaultCanvas0{
    position: fixed;
    z-index: -1;
}

/* //SUBMIT PART// */
.creator_info{
    position: fixed;
    display: grid;
    margin-top: 11%;
    margin-left: 76%;
    grid-row-gap: 26px;
    grid-template-rows: 150px 47px 47px 110px;
    justify-content: center;
    align-items: center;
    width: 18%;
    grid-template-columns: 1fr;
}

#creator_guide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 30px;
}

#creator_name_input, #creator_title_input{
    border: none;
    outline: none;
    border-bottom: 2px solid #303030;
    padding: 0 0 8px 0;
    background: none;
}

input{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: black;
}

input::placeholder{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:17px; 
    font-weight:400;
    color: rgb(213, 213, 213);
}

label{
    font-size:13px;
}

.input_grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}

#SUBMIT{
    font-weight: 400;
    font-size: 17px;
    padding: 15px;
    min-height: 52px;
    min-width: 160px;
    background-color: #f2f2f2;
    color: rgb(0 0 0);
    border: none;
}

#SUBMIT:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: blueviolet;
    transition:0.7s;
}
/* //// */


/*//////////////////////// Are you sure to leave */

#YES{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#YES:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition:0.7s;
}

#CANCEL{
    background: none;
    color: blueviolet;
    border: 2px solid #e0e0e0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#CANCEL:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    transition:0.7s;
}

#OK{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#OK:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition:0.7s;
}

/* Are you sure to leave ////////////////*/
/* background of color picker */
input[type="color"] {
    width: 53px; 
    height: 53px; 
    border: none; 
    border-radius: 50%; 
  }
  
  /* color lcon of colorPicker */
  input[type="color"]::-webkit-color-swatch {
    border:none; 
    border-radius: 50%; 
    
  }

  #erasetool{
    width: 44px;
    position: absolute;
    margin-top: 42.7%;
    margin-left: 6.5%;
}
/* /////////////////MAKEUP_CANVAS////////////////// */

.halloweengallery{
    font-family: 'Flavors', cursive;
    font-weight: 500;
    font-size: 67px;
    position: absolute;
    margin-left: 6%;
    margin-top: 1.5%;
    margin-bottom: 135px;
    line-height: 1;
}

.seeyourwork{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight:200;
    margin-top: 54px;
    margin-bottom: 78px;

}

body{
    background-color: blueviolet;
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
    }

button{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
}

.navword button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 5px;
}

.nav{
    height: 26vh;
    background-color: black;
    color:white;
     }
.navword{
    font-size: 55px;
    position: absolute;
    bottom: 75%;
    right: 1%;
 }

 #gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top:40px;
 }
/* ////////// */
 .info-container {
    display: grid;
    grid-template-rows: auto auto; 
    gap: 10px;
    text-align: center; 
    padding: 10px;
    background: rgb(215, 206, 220);
    border-radius: 17px;
}
.info-container h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    line-height: 0.5; 
}

.info-container h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 0.5; 
}

/* /////////////// */

 #gallery img {
    max-width: 100%; 
    height: auto; 
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out; 
    will-change: transform; 
}
.info-container img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
}

.popup-content{
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-bottom: 2.5px solid #383838;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

/* //////////////////////////////////detail page */

.detail_container {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    color: white;
}
.detail_container > div {
    margin: 10px;
}

.detail_container img {
    width: 88%;
    height: auto;
}

.detail_container h1{
    margin: 150px 90px 30px 20px;
    font-size: 50px;
}

.detail_container h2 {
    margin: 0px 90px 30px 20px;
    font-size: 25px;
}
.detail_container p {
    margin: 0px 90px 30px 20px;
}

/* /////////////gallery page ///////////// */
#detail_preview{
    color:white;
}